<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-smartlook"
    version="1.0.0">
    <name>Cordova Smartlook Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords>cordoava,smartlook,plugin</keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.0.0"></engine>
    </engines>

    <js-module src="www/smartlook-native.js" name="smartlook-native">
      <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
      <clobbers target="SmartlookNative" />
    </js-module>

    <!-- android -->
    <platform name="android">
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SmartlookPlugin">
          <param name="android-package" value="com.achilles.SmartlookPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <framework src="build.gradle" custom="true" type="gradleReference" />
      <source-file src="build-extras.gradle" target-dir="src/../" />
      <source-file src="src/android/com/achilles/SmartlookPlugin.java" target-dir="src/com/achilles/" />
      <framework src="com.smartlook.recording:app:0.9.0.2.5.7-beta"/>
    </platform>
</plugin>
